name: Sync to Hugging Face hub
on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: true 

      - name: Install Git LFS
        run: git lfs install

      - name: Push to hub
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          # Ensure LFS objects are pulled on the runner
          git lfs pull
          # Force push to Hugging Face
          git push --force https://HimanshuB0810:$HF_TOKEN@huggingface.co/spaces/GaramAloo/hotel-reservation-prediction main